<h1>Index Page for Recipies </h1>
<a href="/recipes/new">Create New Recipe</a>

<% if @recipes != nil
      @recipes.all.each_with_index(1) do |recipe_name|
        %>
        Recipe Name : <h3><%= recipe_name.name %></h3></br>
        <a href="/recipes/<%=recipe_name.id %>">Show Page</a></br>
      <% end %>
<% end %>
